# ignore everything
*

# whitelist directories
!*/

# whitelist everything in
!**/services/*

# whitelisting files
!.gitignore
!docker-compose.yaml

!pom.xml
!beans.xml

!*.java
!*.md

# blacklist all target dirs
*/target
